{% extends 'base.html' %}

{% block title %}Search for {{ search_query }}{% endblock title %}

{% block content %}
	{% if objects %}
	<main class="container pt-5 mt-5" style="min-height:100vh;">
		<div class="row d-flex gap-2 px-4 justify-content-center">
			{% for object in objects %}
            <div class="card" style="width:500px;">
                <div class="card-body d-flex flex-column gap-4">
                    <h5 dir="auto" class="card-title fw-bold">{{ object.title }}</h5>
					<div class="d-flex flex-row justify-content-between">
                    {% if object.status %}
                        <p class="card-text text-muted">Public Poll</p>
						{% else %}
                        <p class="card-text text-muted">Private Poll</p>
					{% endif %}
					</div>
                    <a href="{{ object.get_absolute_url }}" class="btn btn-warning text-light fw-bold" style="width:100%">Vote this poll</a>
                </div>
            </div>
			{% endfor %}
		</div>
	</main>
	{% include 'pagination.html' %}
	{% else %}
		<main class="container-fluid form-container p-0 m-0 text-center d-flex justify-content-center">
            <div class="d-flex flex-column">
                <h1 class="display-1 fw-bold mx-4 text-center">Nothing found!</h1>
                <p class="fs-3">No polls matched your search</p>
            </div>
		</main>
	{% endif %}
	
	{% endblock %}