{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
	<main class="container form-container">
		<div class="bootstrap4 align-items-center">
			<svg xmlns="http://www.w3.org/2000/svg" class="CheckMarkIconSvg text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
			</svg>
			<h1 class="text-3xl mx-auto font-bold text-black mb-10">Password reset sent</h1>
			<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
			<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
			<a href="{% url 'login' %}" class="{{ accent_button }}">Back to login page</a>
		</div>
	</main>
{% endblock %}