{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}
	<main class="container my-0 form-container">
		<div class="sidebarAndForm">
			{% if user.is_authenticated %}
				{% include 'sidebar.html' %}
				<form class="bootstrap4" method="POST">
					<h1 class="text-center">Reset your password</h1>
					{% csrf_token %}
					
					{{ form |crispy }}
					
					<button class="btn btn-info text-white">Reset</button>
				</form>
			{% else %}
				<form class="bootstrap4 flex-grow-0" method="POST">
					<h1 class="text-center">Reset your password</h1>
					{% csrf_token %}
					
					{{ form |crispy }}
					
					<button class="btn btn-info text-white">Reset</button>
				</form>
			{% endif %}
		</div>
	</main>
{% endblock %}