{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}

{% block content %}
	<main class="container my-0 form-container">
		{% if user.is_authenticated %}
			<div class="flex flex-col px-5">
				<h2 class="text-3xl font-bold text-red text-gray-600 p-10 text-center">you can`t create new account because you already have an account</h2>
				<a class="{{ accent_button }}" href="{% url 'polls:poll_home_view' %}">Back to Home</a>
			</div>
		{% else %}	
		<form class="bootstrap4 flex-grow-0 crispy-form" action="{% url 'signup' %}" method="POST">
			<h1 class="text-center">Register</h1>
			{% csrf_token %}

			{{ form |crispy }}

			<button class="btn btn-info text-white">Login</button>
		</form>
		{% endif %}
	</main>
{% endblock %}